.user_text{
  display: inline-block;
}

.user_details{
  margin-left: 20px;
  margin-top: 20px;
}

.class_r{
  float:right;
  margin-right: 20px;
}
.wrapper h6{
  margin-bottom: 3px;
  text-align: center;
}
h5{
  font-size: 15px;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 70px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #B0B0B0		;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 40px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #000000;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.but_position{
  position: absolute;
  left:45%;
}
#t1{
  width:70%;
  margin-top: 20px;
}
tr td{
  text-align: center;
  width:12.5%;
  padding:7px;
}
table, th, td {
  border: 2px solid black;
}
p{
  text-align: center;
}
.yesorno{
  position: relative;
  margin-top: 5px;
  left:44.25%;
}
body{
  overflow-x: hidden;
}
/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #b3b8bc 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
input[type=submit] {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #000000;
  box-shadow: 0 0 4px #999;
  outline: none;
}
.but_pos{
  position: absolute;
  margin-top: 5px;
  left:47.25%;
}
.specific{
  position:relative;
  left:43.5%;
}
.main_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: grid;
  background-color: #fff;
  color: #444;
  margin-top:60px;
  /* position:relative;
  left:27%; */
  grid-gap: 10px;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 3px;
}

.box {
  background-color: #444;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 3em;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

